<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="hero {{ with .Block.class }} {{ . }} {{ end }}"
>
  <div class="container" data-aos="zoom-in">
    <div class="hero-body content is-half-medium">

      {{- with .Block.title -}}
        <h1 class="title is-3 has-text-centered">{{ . }}</h1>
      {{- end -}}

      {{- with .Block.subtitle -}}
        <p class="subtitle is-4 has-text-centered">{{ . }}</p>
      {{- end -}}

      {{- with .Block.description -}}
        <div class="is-size-5">
          {{ markdownify . }}
        </div>
      {{- end -}}

      <div class="is-size-5">
        <form action="{{ .Block.action }}" method="post">
          <div class="columns is-multiline is-tablet is-variable is-2">
            <div class="column is-full-mobile is-6-tablet is-5-desktop">
              <div class="control has-icons-left">
              <input name="name" ariab-label="Name" class="input is-medium" type="text" placeholder="Nombre">
              <span class="icon is-small is-left">
              <svg class="svg-inline--fa fa-user fa-w-16" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M96 160C96 71.634 167.635 0 256 0s160 71.634 160 160-71.635 160-160 160S96 248.366 96 160zm304 192h-28.556c-71.006 42.713-159.912 42.695-230.888 0H112C50.144 352 0 402.144 0 464v24c0 13.255 10.745 24 24 24h464c13.255 0 24-10.745 24-24v-24c0-61.856-50.144-112-112-112z"></path></svg><!-- <i class="fas fa-user"></i> -->
              </span>
              </div>
            </div>
            <div class="column is-full-mobile is-6-tablet is-5-desktop">
              <div class="control has-icons-left">
              <input name="email" aria-labe="Email" class="input is-medium" type="text" placeholder="Email">
              <span class="icon is-small is-left">
              <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg><!-- <i class="fas fa-envelope"></i> -->
              </span>
              </div>
            </div>
            <div class="column is-full-mobile is-2-tablet">
              <div class="field">
              <div class="control">
              <input type="submit" aria-label="Submit" value="Enviar" name="Enviar" class="button is-primary is-medium is-fullwidth pulse-btn">
              </div>
              </div>
            </div>
          </div>
          <input type="text" name="_gotcha" style="display:none">
          <input type="hidden" name="_subject" value="Formulario de Contacto de Molotec.com">
          <input type="hidden" name="_language" value="es">
        </form>
      </div>
    </div>
  </div>
</section>
