<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="hero {{ with .Block.class }} {{ . }} {{ end }}"
  {{ with .Block.color }} style="background-color: {{ . }}" {{ end }}
>
  <div class="hero-body">

    <div class="container full-hd">

      {{- with .Block.title -}}
        <p class="title is-4 has-text-centered has-text-weight-light">{{ . }}</p>
      {{- end -}}
      {{- with .Block.subtitle -}}
        <p class="subtitle is-5 has-text-centered has-text-weight-light">{{ . }}</p>
      {{- end -}}
      {{- with .Block.description -}}
        <p class="subtitle is-6 has-text-centered has-text-weight-light">{{ markdownify . }}</p>
      {{- end -}}

      <div class="columns is-mobile is-multiline is-vcentered is-centered is-variable is-6">
        {{- range $index, $e := .Block.logos -}}

          <div class="column is-one-third-mobile has-tooltip">

            {{- if .image -}}
              <figure class="image is-square" data-aos="zoom-in" data-aos-once="true">
                <img class="tech-logo" alt="{{ .title }}" src="{{ .image | relURL }}">
              </figure>
            {{- else -}}
              <p>{{ .title }}</p>
            {{- end -}}

            <div class="tooltip-content">
              <a target="_blank" href="{{ .url }}">
                <b>{{ .title }}</b>
              </a>
              <p class="p-t-md">
                {{ .description }}
              </p>
            </div>

          </div>

        {{ end }}
      </div>

    </div>

  </div>
</section>

<script src="https://unpkg.com/tippy.js@2.5.4/dist/tippy.all.min.js"></script>
<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', function () {

    let tooltips = document.querySelectorAll('.has-tooltip');

    // initialize every tooltip using tippy
    tooltips.forEach( (element) => {

      element.classList.remove('has-tooltip');
      let tooltipContent = element.querySelector('.tooltip-content');

      tippy(element, {
        html: tooltipContent,
        distance: 20,
        maxWidth: '200px',
        placement: 'bottom',
        arrow: true,
        arrowTransform: 'scale(1.5)',
        animation: 'perspective',
        delay: [50, 150],
        duration: 400,
        interactive: true,
      });

    });

  });


</script>
