<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="hero {{ with .Block.class }} {{ . }} {{ end }}"
  {{ with .Block.color }} style="background-color: {{ . }}" {{ end }}
>
	<div class="container">

		<div class="hero-body content is-half-medium" {{ (partial "blocks/aos" .Block) | safeHTMLAttr }}>

			{{- with .Block.title -}}
				<h1 class="title is-3 has-text-centered">{{ . }}</h1>
			{{- end -}}

			{{- with .Block.subtitle -}}
				<p class="subtitle is-4 has-text-centered">{{ . }}</p>
			{{- end -}}

			{{- with .Block.description -}}
				<div class="is-size-5 has-text-centered">
					{{ markdownify . }}
				</div>
			{{- end -}}

			{{- with .Block.cta -}}

				<div class="has-text-centered">
					<a href="{{ .url }}" class="{{ with .class }}{{ . }}{{ end }}">
						{{ .title }}
					</a>
				</div>
			{{- end -}}

		</div>
	</div>
</section>
