<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="section {{ with .Block.class }} {{ . }} {{ end }}"
>
	<div class="container">

		{{- with .Block.title -}}
			<h2 class="title is-3 has-text-centered">
				{{ . }}
			</h2>
		{{- end -}}

		{{- with .Block.subtitle -}}
			<p class="subtitle is-4 has-text-centered">
				{{ . }}
			</p>
		{{- end -}}

		{{- with .Block.description -}}
			<p class="has-text-centered">
				{{ markdownify . }}
			</p>
		{{- end -}}

		<div class="columns is-mobile is-multiline is-centered">

			{{ range .Block.values }}
				<div class="column is-full-mobile is-half-tablet is-one-third-desktop" data-aos="flip-left" data-aos-once="true">
          <article class="media value">
            <figure class="media-left">
              <span class="icon has-text-grey">
                {{ if .icon }}
                  <i class="fa-2x {{ .icon }}"></i>
                {{ else }}
                  <i class="fa-2x fas fa-angle-right"></i>
                {{ end }}
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">{{ .title }}</h1>
                <p class="subtitle is-size-5">
                  {{ markdownify .description }}
                </p>
              </div>
            </div>
          </article>
				</div>
			{{ end }}

		</div>

	</div>
</section>
