<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="section {{ with .Block.class }} {{ . }} {{ end }}"
>
  <div class="container">

    <div class="youtube-embed-container {{ with .Block.class }} {{ . }} {{ end }}">
      <iframe
        src="https://www.youtube.com/embed/{{ .Block.videoID }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>

  </div>
</section>
